<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCLEBPPFGW8T9egzDcbPFx_ow6nAY8LVD4</string>
	<key>GCM_SENDER_ID</key>
	<string>856429240244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bluefeatherai.WordAdio</string>
	<key>PROJECT_ID</key>
	<string>wordadio</string>
	<key>STORAGE_BUCKET</key>
	<string>wordadio.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856429240244:ios:3ff1c31fdacfeb65581ce1</string>
</dict>
</plist>